* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #b6bdce;

  letter-spacing: 0.01em;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  background-color: #e0e0e0;
  width: 900px;
  max-width: 90%;
  padding: 3em;
}

.flexbox {
  display: flex;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(116, 116, 116);
  background-color: rgb(245, 245, 245);
  font-size: 1.2rem;
  padding: 0.5em;
  margin-bottom: 1em;
}

input[type="submit"] {
  background-color: #2f80ed;
  color: rgb(245, 245, 245);
  padding: 0.5em 1em;
  border: 1px solid #2f80ed;
  margin-left: 1em;
  cursor: pointer;
  letter-spacing: 0.1em;
  transition: background-color 0.1s;
}

input[type="submit"]:hover {
  background-color: #256ece;
}
input[type="submit"]:active {
  background-color: hsl(214, 70%, 44%);
}

form,
.item-list {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.2rem;
  flex-direction: column;
}

.item-list {
  margin-top: 1em;
}

.item {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 1px;
  padding: 0.55em;
  cursor: move;
  width: 250px;
  position: relative;
}

.item i,
.footer i {
  vertical-align: middle;
}

.item i {
  margin-right: 1em;
}

.item-hover {
  background-color: #d4d4d4;
}

.item-border-top:before {
  display: block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: #838383;
  position: absolute;
  top: 0;
  left: 0;
}

.item-border-bottom:after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: #838383;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-on-hold {
  background-color: #96b3d8;
}

.footer {
  margin: 4em auto;
  width: 1000px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: rgb(110, 0, 110);
}

.footer > i {
  color: #2362b6;
  padding: 0.2em;
  font-size: 1.25rem;
}

.footer span {
  border-bottom: 1px solid rgb(110, 0, 110);
}

.footer span i {
  font-size: 1.25rem;
  margin-left: 0.25em;
  white-space: nowrap;
}
